@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800;900&display=swap");

:root {
    --primary: #1b2223;
    --secondary: #3a4f50;
    --sub: #0ef6cc;
    --light: #f4fefd;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--light);
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    gap: -5px;
}

.img {
    position: relative;
}

.img::after {
    content: "";
    background-color: #c0c0c0;
    position: absolute;
    height: 550px;
    width: 550px;
    left: 50%;
    bottom: -20%;
    transform: translate(-43%, 18px);
    border-radius: 50%;
    z-index: -1;
}

.img img {
    width: 350px;
    height: 350px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -30px;
    max-width: 380px;
}

.text h1 {
    margin-top: 0;
    color: var(--primary);
    font-weight: 900;
    font-size: 3.4rem;
    margin-bottom: 0;
}

.text h2 {
    color: var(--primary);
    margin-top: 0;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0;
}

.text h2 span {
    margin-top: 0;
    color: red;
    font-weight: 800;
    font-size: 2.1rem;
}

.text h3 {
    margin-top: 0;
    color: var(--primary);
    font-size: 1.5rem;
}

.text a {
    margin-top: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 2rem;
    color: var(--primary);
    font-size: 1.1rem;
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
}

.text a:hover {
    color: #556466;
}

.text a i {
    font-size: 1rem;
    margin-right: 5px;
}

@media screen and (max-width: 950px) {
    .img::after {
        height: 450px;
        width: 450px;
        left: 50%;
        bottom: -15%;
        transform: translate(-40%, 25px);
    }
    .img img {
        width: 300px;
        height: 300px;
    }
    .text {
        max-width: 320px;
    }
    .text h1 {
        font-size: 2.8rem;
    }
    .text h2 {
        font-size: 1.7rem;
    }
    .text h2 span {
        font-weight: 800;
        font-size: 1.8rem;
    }
    .text h3 {
        font-size: 1.3rem;
    }
    .text a {
        width: 9rem;
        height: 2rem;
        font-size: 1rem;
    }
    .text a i {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 750px) {
    .img::after {
        height: 300px;
        width: 300px;
        left: 50%;
        bottom: -5%;
        transform: translate(-39%, 30px);
    }
    .img img {
        width: 200px;
        height: 200px;
    }
    .text {
        max-width: 210px;
    }
    .text h1 {
        font-size: 2rem;
    }
    .text h2 {
        font-size: 1.1rem;
    }
    .text h2 span {
        font-size: 1.2rem;
    }
    .text h3 {
        font-size: 0.8rem;
    }
    .text a {
        width: 7rem;
        height: 1.5rem;
        font-size: 0.7rem;
    }
    .text a i {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 450px) {
    .img::after {
        height: 200px;
        width: 200px;
        left: 50%;
        bottom: -5%;
        transform: translate(-39%, 30px);
    }
    .img img {
        width: 100px;
        height: 100px;
    }
    .text {
        max-width: 180px;
    }
    .text h1 {
        font-size: 1.2rem;
    }
    .text h2 {
        font-size: 0.9rem;
    }
    .text h2 span {
        font-size: 1rem;
    }
    .text h3 {
        font-size: 0.8rem;
    }
    .text a {
        margin-top: -10px;
        width: 6.5rem;
        height: 1rem;
    }
}
